@using FinalProject.Entities
@model List<Product>

<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        @if (Model != null && Model.Any())
        {
            <!-- Single Catagory -->
            @foreach (Product product in Model)
            {
                <div class="single-products-catagory clearfix">
                    <a asp-controller="shop" asp-action="detail" asp-route-id="@product.Id">
                        <img src="~/img/bg-img/1.jpg">
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From @product.Price</p>
                            <h4>@product.Name</h4>
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <p>No products available.</p>
        }
    </div>
</div>
